body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.alert-message {
    position: fixed;
    top: 0;
    right: 0;
    background-color: red;
    padding: 1em;
    display: none;
}

.alert-message.visible {
    display: block;
}

/* ... (otros estilos) ... */

/* Estilos de la tabla */
.table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    margin-top: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 15px;
    background-color: #ffffff;
}

.table th, .table td {
    text-align: left;
    padding: 8px 12px;
    border-bottom: 1px solid #ddd;
}

.table tr:last-child td {
    border-bottom: none;
}

.table tr:hover {
    background-color: #f0f7fd;
    transform: scale(1.01);
    transition: transform 0.3s ease;
}

.table th {
    background-color: #4A90E2;
    background-image: linear-gradient(45deg, #4A90E2, #2F80E1);
    color: white;
    position: sticky;
    top: 0;
    z-index: 2;
    border-radius: 15px 15px 0 0;
}

.table td:last-of-type {
    text-align: right;
}

/* Bordes redondeados para la tabla */
.table tr:first-child th:first-child {
    border-top-left-radius: 15px;
}

.table tr:first-child th:last-child {
    border-top-right-radius: 15px;
}

.table tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
}

.table tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
}


/* styles.css */
.custom-table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    margin-top: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 15px;
    background-color: #ffffff;
    /* ... y el resto de tus estilos de tabla */
}
